<div class="bk__editor">
  <div class="bk__panel--top">
    <div class="bk__panel--basic-actions"></div>
    <div class="bk__panel--devices"></div>
    <div class="bk__panel--switcher"></div>
  </div>
  <div class="bk__editor--row">
    <div class="bk__editor--canvas">
      <div id="gjs">
        <h1>Hello, World</h1>
      </div>
    </div>
    <div class="bk__panel--right">
      <div class="bk__layers-container"></div>
      <div class="bk__styles-container"></div>
      <div class="bk__traits-container"></div>
      <div id="blocks" class="bk__blocks-container"></div>
    </div>
  </div>
</div>
