/* You can add global styles to this file, and also import other style files */
/* @import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/vela-blue/theme.css";
@import "~primeng/resources/primeng.min.css"; */
// @import '~grapesjs/dist/css/grapes.min.css';

$primaryColor: #1B1C1C;
$secondaryColor: #E4E2E3;
$tertiaryColor: #00344B;
$quaternaryColor: #82CFFF;

@import "~grapesjs/src/styles/scss/main.scss";
@import "./scss/editor";

body {
    margin: 0;
    padding: 0;
}
